.scReserveFormContr{
    width: 450px;
}

  .scFormHeader{
    font-size: 25px;
    padding: 10px;
    color: aliceblue;
    letter-spacing: 3px;

  }
  mat-card{
    max-width: 400px;
    margin: 2em auto;
}

mat-form-field{
    display: block;
}
.scGuestButton{
  font-size: 17px;
  margin-left: 5px;
}