<div class="ps-1">

<h2>Welcome to THE PALACE</h2>

<h5 class="pt-3">Where Elegance Meets Comfort</h5>
<p class="pt-1 text-justify">
Step into <span class="bold">THE PALACE</span>, your ultimate destination for refined luxury, 
unmatched hospitality, and timeless charm. Nestled in the heart of the city, 
our hotel offers an extraordinary stay experience that blends royal heritage with modern amenities.</p>
<div class="d-flex">
    
<img class="ps-1" src="/assets/images/Dish.png" class="scDishImg"/>
<h2 class="ps-2">Dining at THE PALACE</h2>

</div>
<h5 class="pt-3">Where Elegance Meets Comfort</h5>
<p class="pt-1 text-justify">
Savor culinary delights prepared by our master chefs at our in-house restaurants.
 Whether it's authentic local flavors or international cuisine, every meal is a celebration.</p>
</div>
<ul>
    <li><span class="fw-bold">The Royal Dine</span>- Fine dining with global flair</li>
    <li><span class="fw-bold">Spice Court</span>- Traditional Indian delicacies</li>
    <li><span class="fw-bold">The Garden Café</span>- Outdoor coffee & brunch spot</li>
    <li><span class="fw-bold">SkyBar Lounge</span>- Rooftop cocktails with a view </li>
</ul>

<div class="d-flex">
    
<img class="ps-1" src="/assets/images/FavDish.png" class="scDishImg"/>
<h2 class="ps-2">Amenities & Services</h2>

</div>

<p class="pt-1 text-justify">
We ensure your stay is as comfortable as it is memorable.</p>
<ul>
    <li>Fine dining with global flair</li>
    <li>24/7 Concierge Service</li>
    <li>Luxurious Spa & Wellness Center</li>
    <li>Rooftop Infinity Pool</li>
    <li>High-Speed Wi-Fi</li>
    <li>Banquet & Conference Halls</li>
</ul>