<!-- <div class="d-flex align-items-center flex-column">
<h3>We are coming soon !!!</h3>

<img class="ps-1" src="assets/images/Contactus.png" class="scDishImg"/>
</div> -->
<!-- <div class="d-flex align-items-center flex-column">
<h3>We are coming soon !!!</h3>

<img class="ps-1" src="assets/images/Delivery.png" class="scDishImg"/>
</div> -->

<div class="scContactus">
    <div id="ContactusSlides" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div #carouselItem class="carousel-item active">
                <div class="d-block w-100">
                    <img class="w-100 scCarouselSlides" src="assets/images/Cafe-dinning.jpg" />
                    <div class="scSlideText">
                        <h3 class="fst-italic"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scEvents pt-5 pb-5">
        <div class="">
            <div class="text-center">
                <h3 class="scIndianRes fst-italic text-danger">Contact us</h3>
                <h2 class="fw-bold scOurMenuHeader">Contact</h2>
            </div>
        </div>
    </div>
</div>