.scMenuContainer{
    justify-content: center;
    display: inline-block;
    background-color: beige;
}
.scDishImg{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.scDish{
    border-bottom: dotted 1px black;
}